body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    text-align: center;
    color: #333;
}

h1 {
    color: #ff6347;
}

#buy-coffee-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #ff6347;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#buy-coffee-button:hover {
    background-color: #ff7f50;
}
